body {
    background-color: #BFE1FF;
    color: black;
    font-family: 'Helvetica';
}

h1, h2, p {
    font-family: inherit;
}

hr {
    border-color: #5d3ef9;
}

div.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#ferrariportrait {
    height: 15em;
}